@model PROGPOETask.Models.UserAccount
@{
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!DOCTYPE html>


<meta name="viewport" content="width=device-width" />
<title>MonthlyPage</title>
<div class="header">
    <h1>Menu Page</h1>
</div>
<body>
    <center>
        <form action="Monthly" method="post">
            <pre>
            <button type="submit">Enter monthly details info</button>
</pre>
        </form>

        <form action="Accomodations" method="post">
            <pre>
            <button type="submit">Enter accomodation info</button>
</pre>
        </form>

        <form action="Vehicle" method="post">
            <pre>
            <button type="submit">Enter vehicle info</button>
</pre>
        </form>

        <form action="Savings" method="post">
            <pre>
            <button type="submit">Set up saving plan</button>
</pre>
        </form>

        <form action="ViewAccount" method="post">
            <pre>
            <button type="submit">View your account plan</button>
</pre>
        </form>

    </center>       
</body>

